# K nearest neighbors

- [wiki](https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm)

In [15]:
import numpy as np

data = np.array([[0, 1, 5, 1, 0],
                [1, 0, 7, 0, 1],
                [0, 1, 2, 1, 0],
                [1, 1, 4.2, 1, 0],
                [0, 0, 7.8, 0, 1],
                [1, 0, 3.9, 1, 0],
                [0, 1, 4, 1, 0],
                [1, 1, 2, 0, 0],
                [0, 0, 3.5, 0, 1],
                [1, 0, 2.6, 1, 0],
                [0, 0, 4.1, 0, 1],
                [0, 1, 1.5, 0, 1],
                [1, 1, 1.75, 1, 0],
                [1, 0, 1.3, 0, 0],
                [1, 1, 2.1, 0, 0],
                [1, 1, 0.2, 1, 0],
                [1, 1, 5.2, 0, 1],
                [0, 1, 2, 1, 0],
                [1, 0, 5.5, 0, 1],
                [0, 0, 2, 1, 0],
                [1, 1, 1.7, 0, 0],
                [0, 1, 3, 1, 1],
                [1, 1, 1.9, 1, 0],
                [0, 1, 3.1, 0, 1],
                [0, 1, 2.3, 0, 0],
                [0, 0, 1.1, 1, 0],
                [1, 1, 2.5, 1, 1],
                [1, 1, 5, 0, 1],
                [1, 0, 7.5, 1, 1],
                [0, 0, 0.5, 1, 0],
                [0, 0, 1.5, 1, 0],
                [1, 0, 3.2, 1, 0],
                [0, 0, 2.15, 1, 0],
                [1, 1, 4.2, 0, 1],
                [1, 0, 6.5, 0, 1],
                [1, 0, 0.5, 0, 0],
                [0, 0, 3.5, 0, 1],
                [0, 0, 1.75, 0, 0],
                [1, 1, 5, 0, 1],
                [0, 0, 2, 1, 0],
                [0, 1, 1.3, 1, 1],
                [0, 1, 0.2, 0, 0],
                [1, 1, 2.2, 0, 0],
                [0, 1, 1.2, 1, 0],
                [1, 1, 4.2, 0, 1]])

data[1]

array([1., 0., 7., 0., 1.])

In [16]:
import pandas as pd

table = pd.DataFrame(data, columns=["was_raining", "was_bad_traffic", "distance_miles", "rural_address", "late"])
table.head()

   was_raining  was_bad_traffic  distance_miles  rural_address  late
0          0.0              1.0             5.0            1.0   0.0
1          1.0              0.0             7.0            0.0   1.0
2          0.0              1.0             2.0            1.0   0.0
3          1.0              1.0             4.2            1.0   0.0
4          0.0              0.0             7.8            0.0   1.0

In [17]:
target = table["late"].tolist()
input_data = table[["was_raining", "was_bad_traffic", "distance_miles", "rural_address"]].values

In [18]:
from sklearn.neighbors import KNeighborsClassifier

# KNN will consider two other "closest" records to make a decision.
knn_classifier = KNeighborsClassifier(n_neighbors = 2)

knn_classifier.fit(input_data, target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [19]:
data = np.array([[0, 0, 2.1, 1]])

print("prediction:", knn_classifier.predict(data))

prediction: [0.]

In [20]:
data = np.array([[0, 0, 2.1, 1],
                 [0, 1, 5, 0],
                 [1, 1, 3.1, 1]
                ])

print(knn_classifier.predict(data))

[0. 0. 1.]